# DVR 1 Modelo Exemplo (Ex: MHDX 3116-C)
DVR1_NAME = DVR_Exemplo_1
DVR1_SN = SN123456789012
DVR1_PORT = 8001

# DVR 2 Modelo Exemplo (Ex: MHDX 1116-C)
DVR2_NAME = DVR_Exemplo_2
DVR2_SN = SN987654321098
DVR2_PORT = 8002

# Common Configuration
HOST = 127.0.0.1
Usuario = admin
Senha = sua_senha_aqui

# Caminho da pasta montada no Google Drive Computador
LOCAL_GD_PATH = G:\My Drive\gravacao
